.footer{
    display: flex;
    justify-content: center;
    color: #ddd;
    font-size: 14px;
}
.footer div{
    width: 30%;
}

.footer div>*:not(h6){
    padding-left: 20px;
}

.footer h6{
    padding: 20px;
    font-size: 20px;
}

.footer ul li{
    list-style: none;
    margin: 5px 0px;
}

