.form-update ,.form-add {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-update h1 ,.form-add h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}

.form-update input,.form-add textarea ,.form-add input,.form-add textarea {
    margin-bottom: 14px;
}

.form-update label ,.form-add label {
    display: inline-block;
    width: 17%;
    margin-bottom: 5px;
    color: #111;
}

textarea{
    height: 120px !important;
}

.form-update input,.form-add textarea,.form-add button ,.form-add input,.form-add textarea,.form-add button,.form-add textarea,.form-update button ,.form-update input,.form-update textarea,.form-update button {
    width: 80%;
    height: 31px;
    padding: 3px 7px;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}

.form-update .wrap_textarea ,.form-add .wrap_textarea {
    display: flex;
    align-items: center;
    justify-content:center;
}

.form-update .act_submit,.form-add .act_submit{
    display: flex;
    flex-direction: row-reverse;
}

.form-update button ,.form-add button {
    width: 20%;
    margin-right: 10px;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.form-update button:hover ,.form-add button:hover {
    background-color: #e7b50d;
}

.form-update img{
    width: 100%;
}