*{
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.container{
    width: 100% !important;
    margin-top: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.container .subnav{
    display: flex;
    padding: 10px 20px;
}

header a , .footer a{
    text-decoration: none  !important;
    color: white !important;
}

.container> .subnav a{
    color: #131921;
    display: flex;
}
a:hover{
    color: #6b7888 !important;
    text-decoration: none !important;

}


.footer{
    height: 200px;
    background-color: #232f3e;
    margin-top: 40px;
}

