*{
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.container{
    width: 100% !important;
    margin-top: 120px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}



header a , .footer a{
    text-decoration: none  !important;
    color: white !important;
}


a:hover{
    color: #6b7888 !important;
    text-decoration: none !important;

}


.footer{
    height: 200px;
    background-color: #232f3e;
    margin-top: 40px;
}

td, th{
    text-align: center !important;
}

.pagination {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-size: large;
    text-align: center;
    width: 100%;
}

.pagination a {
    color: black;
}

.pagination span {
    color: skyblue;
}