.Suggest_product h1{
    margin-left: 30px;
    font-size: 24px;
    padding: 20px 20px 20px 0;
}

.Suggest_product ul{
    display: flex;
    justify-content: center;
}

.Suggest_product li{
    width: 20%;
    height: 100px;
}

.Suggest_product ul li{
    list-style: none;
    margin: 20px 0px 200px 20px;
    
}
