.product_info {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 90%;
}

.product_info h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* ====================== */
.product-body {
    display: grid;
    grid-template-columns: 4fr 6fr;
}

.product-body img {
    width: 80%;
    height: 300px;
    margin: auto auto;
}

.product-name {
    display: flex;
    gap: 6px;
    align-items: center;
}

.sp- {
    background-color: rgb(240, 65, 65);
    border-radius: 6px;
    width: 77px;
    font-size: 12px;
}

.sp-title {
    color: #fff;
    padding: 4px;
    margin: 0px;
    text-align: center;
}

.product-title {
    font-size: 22px;
    margin-bottom: 0px;
}

.product-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-range .product-range-star {
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgb(160, 160, 160);
}

.product-range .product-range-star .range {
    font-size: 16px;
    align-items: center;
    margin-top: 6px;
    margin-left: 2px;
}

.product-range .product-range-reviews {
    width: 100px;
    display: flex;
    gap: 4px;
}

.product-range .product-range-bought {
    width: 300px;
    display: flex;
    gap: 4px;
}

/* product-price */
.product-discount {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(241, 239, 239);
    display: flex;
    align-items: center;
    gap: 6px;
}

p {
    margin: 0px;
}

.product-price {
    font-size: 20px;
    color: rgb(243, 34, 34);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
}

.product-discount {
    color: #949393;
    font-weight: 600;
    font-size: 20px;
}

.product-description {
    text-align: center;
}

/* product-quantity */
.product-quantity {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.buy-amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus-btn {
    border: none;
    text-align: center;
    background-color: rgb(234, 101, 101);
}

.minus-btn:hover {
    cursor: pointer;
}

.plus-tn {
    border: none;
    text-align: center;
    background-color: rgb(234, 101, 101);
}

.plus-tn:hover {
    cursor: pointer;
}

svg {
    width: 15px;
    height: 15px;
    padding: 8px 18px;
    color: white;
    font-weight: bold;
}

.product-input-amount {
    padding: 7px 2px;
}

input {
    font-size: 20px;
    width: 80px;
    margin: 0;
    border: none;
    background-color: #f5f3f3;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}

/* buy-cart */
.buy-cart {
    margin-top: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.button-add__cart,
.product_compare {
    border-radius: 6px;
    padding: 6px;
    color: white;
}
.button-add__cart {
    background-color: #ee4d2d;
}

.product_compare {
    background-color: rgb(0, 85, 128);
}

.buy-cart form a button {
    color: white;
    padding: 8px 8px;
    cursor: pointer;
}

.title-1 {
    text-align: center;
    font-size: 22px;
}

/* ============================== */

.product_shop {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* ĐÁNH GIÁ SẢN PHẨM */
.product__review {
    background-color: #fff8f8;
    width: 100%;
}

.product__review-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.review__star {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review__star-right {
    /* text-align: center; */
}

.review__star {
    border: 1px solid rgb(255, 239, 239);
    padding: 24px;
}

.start-all {
    display: flex;
    gap: 6px;
}

.star-item {
    padding: 6px;
    text-align: center;
    width: 101px;
    border: 1px solid #efefef;
    background-color: #ffffff;
}

.start-all p {
    font-size: 14px;
}

.star-top {
    display: flex;
    align-items: center;
    gap: 6px;
}

.star-top p:first-child {
    color: #ee4d2d;
    font-size: 34px;
    font-weight: 600;
}

.star-top p:last-child {
    color: #ee4d2d;
}

.star-comment {
    margin-top: 6px;
    display: flex;
    gap: 6px;
}

.star-comment p {
    font-size: 14px;
}

.comment-item {
    padding: 6px;
    text-align: center;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #efefef;
}

.firts {
    border: 1px solid salmon;
    background-color: #ffffff;
}
/* ĐÁNH GIÁ SẢN PHẨM */

/* User comment */
.comment {
    margin-top: 30px;
    display: flex;
    gap: 6px;
}

.avatar {
    width: 52px;
    height: 50px;
    background-color: #dcd6d4;
    border-radius: 100px;
}

.comment-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-right p {
    font-size: 14px;
}

.user_name {
    font-size: 14px;
    margin: 0;
}

.user_star {
    margin: 0;
}

.user_date {
    font-size: 14px;
    margin: 0;
}

.user_info_product {
    display: flex;
    font-size: 14px;
}

.user_info_product p {
    margin: 0;
}

.user_info_product p:first-child {
    color: #949393;
    margin-right: 6px;
}

.image_product_review {
    width: 50px;
    height: 50px;
}

/* User comment */
