.shop_one{
    margin-top: 20px;
}

.shop_one h1{
    margin-left: 30px;
    font-size: 24px;
    padding: 20px 20px 20px 0;
}

.shop_one ul{
    display: flex;
    justify-content: center;
}

.shop_one li{
    width: 280px;
    height: auto;

}
.shop_one ul li{
    list-style: none;
    margin: 0 20px;
}
