.table_product {
    border-collapse:collapse;
    margin: 20px 12px;
    text-align: center;
    
}

.table_product a{
    color: #131921;
}

.table_product td {
    border: 1px solid;
}

.table_product tr td:nth-child(1) {
    width: 5%;
}

.table_product tr td:nth-child(2) {
    width: 10%;
}

.table_product tr td:nth-child(3) {
    width: 5%;
}

.table_product tr td:nth-child(4) {
    width: 5%;
}

.table_product tr td:nth-child(5) {
    width: 7%;
}

.table_product tr td:nth-child(6) {
    width: 5%;
}

.table_product tr td:nth-child(7) {
    width: 48%;
}

.table_product tr td:nth-child(8) {
    width: 15%;
}

