.table_product {
    border-collapse:separate;
    margin: 20px 12px;
    text-align: center;
    font-size: 13   px !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.table_product a{
    color: #131921;
}

.table_product thead{
    color: black;
    font-weight: 600;
}

.table_product thead td{
    background-color: #f0c14b;
    
}

.table_product tbody{
    background-color: none;
}

.table_product td {
    border-bottom: 1px solid #a2a1a1;
}


.table_product tr td:nth-child(1) {
    height: 100px;
    width: 5%;
    border-radius: 10px 0 0;
}

.table_product tr td:nth-child(2) {
    width: 10%;
}

.table_product tr td:nth-child(3) {
    width: 5%;
}

.table_product tr td:nth-child(4) {
    width: 5%;
}

.table_product tr td:nth-child(5) {
    width: 7%;
}

.table_product tr td:nth-child(6) {
    width: 5%;
}

.table_product tr td:nth-child(7) {
    width: 5%;
}

.table_product tr td:nth-child(8) {
    width: 10%;
    border-radius: 0 10px 0 0px;
}

.table_product tr:last-child td{
    border: none;
}

.table_product .act{
    display: flex;
}

.table_product .act a{
    width: 45%;
    margin: 2.5%;
}
